* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-size: unset;
    color: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;

}

.container {
    margin: auto;
    max-width: 1100px;
}

nav {
    margin: 3em auto;
    width: 90%;
    flex-direction: column;
    align-items: first baseline;
    padding-bottom: .5em;
    border-bottom: 1px solid #ddd;
}

#nav-recent {
    font-weight: 700;
    color: #427cd3;
}

nav .title {
    margin: 0;
}



.profile .mybio {
    color: #093d79;
    text-decoration: underline;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    margin: 0;
    margin-right: 1em;
}

nav li a {
    font-size: .75rem;
    color: #333;
    font-weight: 500;
}

nav li a:hover {
    color: #808080;
    text-decoration: underline;
}

main {
    margin: 2em auto;
    width: 90%;
}

main h2 {
    margin: 0;
    font-weight: 700;
    padding-top: 1em;
    font-size: 1.75rem;
    line-height: 1.2em;
    
}

main h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

.bio-photo {
    object-fit: cover;
    object-position: 0 -22px;
	width: 100px;
    height: 100px;
    margin-bottom: 1em;
	border-radius: 10px;
}



img {
	width: 100%;
}


.date-published {
    margin: 0;
    margin-bottom: 2em;
}


span {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-size: .5rem;
    font-weight: 500;
    color: #333;
}

main p {
    margin: 1em 0;
    font-size: 1rem;
    line-height: 1.5em;
}

article {
    margin: auto;
    margin-top: 3em;
    margin-bottom: 7em;
}

section {
    width: 100%;
    margin: auto;
    margin-bottom: 10em;
}

section a:hover {
    color: #808080;
    text-decoration: underline;
}

section iframe {
    object-fit: cover;
    width: 100%;
}

footer {
    margin: 0;
}

footer p {
    font-size: .75rem;
}






@media (min-width: 1200px)  {


.container {
    margin: auto;
    max-width: 1100px;
}

nav {
        margin: 3em auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    
nav .title {
        margin-right: 3em;
    }
    
    nav h4 {
        color: #333;
        font-size: 1.2rem;
        font-weight: 500;
    }
    
    nav ul {
        display: flex;
        align-items: center;
    }
    
    nav li {
          margin-right: 3em;
    }
    
    nav li a {
        font-size: 1.05rem;
        color: #333;
        font-weight: 500;
    }
    
    main {
        margin: 12em auto;
        width: 70%;
    }
    
    main h2 {
        margin: 1em 0;
        font-size: 4rem;
        line-height: 1.2em;
        
    }
    
    main h3 {
        margin: 1em 0;
        font-size: 1.75rem;
    }
    
    .date-published {
        margin: 3em 0;
    }
    
    span {
        font-size: 1rem;
    }
    
    main p {
        margin: 1em 0;
        font-size: 1.2rem;
        line-height: 1.5em;
    }
    
    article {
        margin: auto;
        margin-top: 3em;
        margin-bottom: 7em;
    }
    
    section {
        width: 100%;
        margin: auto;
        margin-bottom: 10em;
    }
    
    section iframe {
        object-fit: cover;
        width: 100%;
    }
    
    footer {
        margin: 5em 0;
    }
    
    
    
    .bio-photo {
        width: 100px;
        margin-bottom: 1em;
        border-radius: 10px;
    }
    
    
    img {
        width: 100%;
    }
    
}

