* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-size: unset;
    color: inherit;
  
}




body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    

}
.container {
    margin: auto;
    width: 50%;
    max-width: 1100px;
}


nav {
    margin: 3em auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.menu {
    cursor: pointer;
    display: none;
}

.slash {
    width: 15px;
    height: 2px;
    background-color: #333;
    margin-bottom: 3px;
}

#nav-recent {
    font-weight: 700;
    color: #427cd3;
}

nav .title {
    margin-right: 3em;
}

    nav h4 {
        color: #333;
        font-size: 1.2rem;
        font-weight: 500;
    }
    

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    margin: 0;
    margin-right: 3em;
}

nav li a {
    font-size: 1.05rem;
    color: #333;
    font-weight: 500
}

nav li a:hover {
    color: #808080;
    text-decoration: underline;
}



/* pop up message */
.pop-up-details {
    position: absolute;
    top: 0%;
    left: -40%;
    width: 300px;
    padding: 20px;
    background-color: #e7e6e6;
    box-shadow: 2px 2px 10px rgba(0,0,0,.1);
    border-radius: 5px;
    display: none;
    
}

.pop-up-details.active {
    display: block;
}

.details p {
    margin-bottom: 10px;
}

.close-details {
    background-color: #bebebe;
    color: #fff;
}
.close-details:hover {
    background-color: rgb(201, 100, 100);
}

.pop-up-message {
    position: absolute;
    top: 0;
    right: -40%;
    width: 300px;
    padding: 20px;
    background-color: #e7e6e6;
    box-shadow: 2px 2px 10px rgba(0,0,0,.1);
    border-radius: 5px;
    display: none;
}

.pop-up-message.active {
    display: block;
}

.pop-up-title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.pop-up-paragraph {
    font-size: .85rem;
    font-weight: 300;
    margin-bottom: 10px;
}

.pop-up-message button {
    color: #fff;
    font-weight: 500;
}

.visit-message-btn {
    background-color: #bebebe;
}

.visit-message-btn:hover {
    background-color: rgb(118, 206, 77);
}

.close-message-btn {
    background-color: #bebebe;
}
.close-message-btn:hover {
    background-color: rgb(201, 100, 100);
}

/* container showcase */

.showcase-section {
    width: 100%;
    margin: 5em auto;
    position: relative;
}

.showcase-container {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.sheet-item {
    width: 45%;
    margin: 0 0 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.head-sheet {   
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;    
}

.thumb-ilt {
    width: 130px;
    height: 130px;
    background-color: #ddd;
    border-radius: 5px;
}

.thumb-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.description-ilt {
    width: 100%;
    padding-left: 20px;
}


button {
    border: none;
    outline: none;
    padding: 7px 30px;
    color: #333;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

img {
    width: 100%;
}

/* styling font and button */

.ilt-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.ilt-subtitle {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.sheet-wraper p {
    font-size: 1rem;
    font-weight: 300;
}

.notable .bold {
    font-weight: 600;
}

.icons {
    align-self: flex-end;
}

.rating-icons {
    display: flex;
}

.star-icon {
    width: 25px;
    height: 25px;
}

.comments {
    text-align: center;
}

.view-btn {
    background-color: rgb(140, 115, 230);
    color: #fff;
    margin-top: 10px;
}

.pagination {
    position: absolute;
    bottom: -10%;
    left: 0;
    display: flex;
}


.number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 1px solid #747474;
    border-radius: 10%;
    color: #474747;
    margin-right: 5px;
    cursor: pointer;
}

.number:hover {
    outline: 1px solid rgba(0,0,0,.1);
    background-color: #b8b6b6;
}

.number.active {
    background-color: rgb(47, 46, 53);
    color: #fff;
    transform: scale(.9);
    
}



