* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: inherit;
}


body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #fff;
}

h2,h3 {
    font-family: 'Lora', serif;
}

.container {
    width: 100%;
    max-width: 2440px;
    margin: auto
}

section {
    background: rgb(246, 247, 242);
}

header {
    width: 100%;
    margin: auto;
    position: relative;
   
}


nav {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 10em;
    background-color: #fff;
}

.mobile-nav {
    display: none;
}

nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
}

nav li a {
    font-size: 1rem;
    font-weight: 500;
    color: #555;
}

li a:hover {
    opacity: .5;
}

.left-navbar li {
    margin-right: 1em;
}

.right-navbar li {
    margin-left: 1em;
}

.company-corporate {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}


.company-logo {
    width: 70px;
    height: 70px;
}


.company-title {
    font-size: 1.15rem;
    font-weight: 600;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

p {
    font-size: 1rem;
    line-height: 25px;
    font-weight: 300;
}

.hero-image {
    width: 100%;
    height: 1000px;
    margin: auto;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)), url(img/img-bg-1.jpg);
    background-size: cover;
    background-position: center;
}

.cta-box {
    position: relative;
    width: 40%;
}

.cta-title {
    position: relative;
    left: -20%;
    font-size: 3.55rem;
    font-weight: 700;
}


/* imtroduction */

.introduction-content {
    width: 50%;
    margin: auto;
    padding: 10em 5em;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.introduction-content .italic-bold {
    font-style: italic;
    font-weight: 500;
}


.paragraph-content {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 2em;
}

.mini-paragraph-content {
    font-size: .85rem;
    font-weight: 300;
}

/* sponsor */

.company-sponsor {
    width: 100%;
    margin: auto;
    padding: 2em 0;
    background-color: rgb(246, 247, 242);
    text-align: center;
}

.sheet-header {
    margin: 50px 0;
}


.sheet-header-title {
    font-size: 1.75rem;
    color: rgb(123, 151, 87);
    font-weight: 600;
}

.wraper {
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.com-support-brand {
    filter: saturate(.1);
    width: 155px;
    margin-right: 20px; 
}

/* news corner */

.news-corner {
    width: 100%;
    margin: auto;
    padding: 10em 0;
    background-color: #fff;
}

.news-navigation {
    width: 60%;
    margin: auto;
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news-nav-button {
    display: flex;
}

.arrow-btn {
    display: block;
    width: 20px;
    height: 20px;
    background: rgb(116, 127, 75);
    margin-right: 15px;
}

.arrow-icon {
    filter: invert(1);
}

/* card */

.news-corner .wraper {
    width: 60%;
    justify-content: center;
}

.card-poster {
    margin: 2em 0;
    width: 33%;
    height: 400px;
    border: 1px solid rgba(123, 151, 87,.3);
    padding: 1em;
}

.card-poster:nth-child(2) {
    border: none;
    border-top: 1px solid rgba(123, 151, 87,.3);
    border-bottom: 1px solid rgba(123, 151, 87,.3);
}

.card-mini-thumb {
    width: 100%;
    height: 100px;
    margin-bottom: 2em;
}

.card-text-content {
    width: 100%;
    border-left: 4px solid rgb(123, 151, 87);
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 1.5em;
    padding-right: 2em;
}

.card-content-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1.5em;
    color: #444;
}

.card-content-paragraph {
    font-size: .9rem;
    font-weight: 300;
}

.card-poster .read-more {
    font-size: 1.15rem;
    color: rgb(123, 151, 87);
}

/* footer */
footer {
    width: 100%;
    margin: auto;
    padding: 3em;
    background-color: rgb(64, 62, 63);
    color: rgb(250, 250, 250);
}

.information-bussiness {
    width: 60%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: .85rem;
}

.nav-footer li {
    margin-top: 20px;
}

.nav-footer li a{
    color: rgb(250, 250, 250);
}


.information-bussiness .company-logo {
    filter: invert();
}

.nav-content-footer {
    text-align: right;
}

.nav-content-footer li {
    margin-top: 5px;
}

.nav-content-footer .gray {
    color: rgb(179, 177, 178);
}

.trigger-btn {
    z-index: 9999;
}

/* mobile development */


@media (max-width: 720px) {
    .container {
        width: 100%;
    }

    nav {
        padding: 10px;
        justify-content: center;
    }

    nav .company-logo {
        width: 40px;
        height: 40px;
    }

    .left-navbar, .right-navbar {
        display: none;
    }

    /* mobile navbar */

    .mobile-nav {
        z-index: 99;
        display: block;
        position: absolute;
        top: -300%;
        left: 0;
        right: 0;
        background-color: rgb(255, 255, 255);
        border-bottom-left-radius: 4px;
        opacity: 1;
        transition: .5s;
    }

    .mobile-nav.active {
        position: fixed;
        top: 0;
        opacity: 1;
    }

    .mobile-nav ul {
        display: block;
    }

    .mobile-nav li {
        padding: 2px 20px;
        background-color: rgb(255, 255, 255);
    }

    .mobile-nav li a {
        display: inline-block;
        width: 100%;
    }

    .mobile-nav li:hover {
        background-color: rgb(218, 219, 211);
      
    }

    .close-navbar {
        position: absolute;
        bottom: -25%;
        right: -120%;
        width: 20px;
        height: 20px;
        background-color: #ddd;
        cursor: pointer;
        opacity: 0;
        transition: 1s;
    }

    .close-navbar.active {
        opacity: 1;
        right: 10%;
        background-color: rgb(247, 98, 98);
    }
    .hero-image {
        height: 100vh;
    }


    .introduction-content {
        width: 100%;
    }

    .wraper {
        width: 100%;
        justify-content: center;
        
    }

    .com-support-brand {
        width: 120px;
    }


    .news-navigation {
        width: 90%;
    }

    .news-corner .wraper {
        width: 90%;
        flex-direction: column;
    }

    .card-poster {
        width: 100%;
    }

    .card-poster:nth-child(2) {
        border: 1px solid rgba(123, 151, 87,.3);
    }

    .information-bussiness {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
    }

    .nav-content-footer {
        order: 1;
    }

    .nav-footer {
        order: 3;
    }

    .company-corporate {
        flex-direction: column;
        align-self: flex-end;
    }
    
    
    .information-bussiness .company-logo {
        width: 40px;
        height: 40px;
    }

    /*font size*/


        .company-title {
            font-size: .75rem;
        }
        .cta-title {
            font-size: 2rem;
        }

        .sheet-header-title {
            font-size: 1.2rem;
        }

        .card-content-title {
            font-size: 1.1rem;
        }

        .card-poster .read-more {
            font-size: .85rem;
        }

}