* {
     margin: 0;
     padding: 0;
     text-decoration: none;

}

body {
     font-family: 'Open Sans', sans-serif;
     font-size: 1em;
}


/* -------------
     header
----------------*/

.container {
     width: 90%;
     max-width: 1100px;
     margin: 2em auto;
     display: flex;
     flex-direction: column;
}




header {
     margin: 2em auto;
     text-align: center;
    
}

.primary-title {
     font-size: 2rem;
     font-weight: 600;
     margin-top: 1em;
}



/* ---------------
     bar-navigasi
------------------*/

nav {
     width: 100%;
     display: flex;
     justify-content: space-between;
     margin: .5em auto;
     /* urutan */
     order: -1;
}

.nav-icon {
     width: 25px;
     cursor: pointer;
     transition: 0.2s;
}

.custom-icon img:hover{
    transform: scale(1.25);
   
}

/* -------------
     content
----------------*/


main {
     width: 100%;
     margin: 2em auto;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
   
}

/* -------------
     layout
----------------*/

.container-flex {
     display: flex;
     justify-content: space-between;
     flex-direction: row;
}


.about {
     width: 100%;
     
}

.images {
     width: 100%;
     margin-top: 5em;
}

.bio-data {
     width: 100%;
     margin-top: 5em;
}



@media (min-width: 820px) {

     

     main {
          flex-direction: row;
         
          
     }


     .about {
          width: 33%;
          
     }
     
     .images {
          width: 25%;
          margin: 0 3em; 
          margin-top: 3em;
        
     
     }
     
     .bio-data {
          width: 33%;
          margin: 0;
     
        
     }

     .bio-picture {
          width: 100%;
          border-radius: 50%;
          object-fit: cover;
          object-position: left;
     
     }


}

/* -------------
     typography
----------------*/

.text-title {
     font-size: 1.5rem;
     font-weight: 550;
     margin-bottom: 1em;
}

.sub-title {
     font-size: 1.2rem;
     font-weight: bolder;
     margin: .5em 0;
}
.text {
     margin: .5em 0;
     font-size: 1.1rem;
     line-height: 1.75em;
}

.credit {
     color: #797373;
}

.credit span {
     border-bottom: 1px solid #ddd;

}

/* -------------
     images
----------------*/

.bio-picture {
     width: 100%;
     border-radius: 50%;
     object-fit: cover;
     object-position: left;

}


.icon-social {
     width: 20px;
     cursor: pointer;
}

/* FOOTER */

footer {
     width: 90%;
     max-width: 1100px;
     margin: auto;
     margin-top: 10em;
     display: flex;
     justify-content:space-between;
     font-size: 1rem;
     padding: 1em;
     border-top: 1px solid #ddd
}

.logo {
     font-weight: 500;
}

.copyright {
     font-size: .75em;
     color: #797373;
}


ul {
     display: flex;
     justify-content: center;
     list-style-type: none;
  
}

li {
     margin: 0 1em;
}

ul li a {
     color: #858585;
}

@media (max-width: 600px) {

     footer {
          font-size: .85em;
     }
}